/* Calibre Viewer  all */
@namespace epub "http://www.idpf.org/2007/ops";

[class^="calibre-viewer"] [epub|type$="note"], 
[epub|type="footnote"] > a {
 display: none !important;
}
 
[epub|type="footnote"], 
[epub|type="footnote"] > *:not(img) {
 text-align: justify;
  
}
/* Calibre Viewer  dark mode */
[class$="dark-colors"] [id*="bg-mono"]:before {
  filter: invert(100%);
}

[class$="dark-colors"] img[id*="-mono"] {
  filter: invert(100%);
}

/* Calibre Viewer  Paged Mode only */
[class*="-paginated"] [id*="center"] {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 98vh;
}

[class*="-paginated"] [id*="page-break-before"] {
  margin-top: 100vh;
}
[class*="-paginated"] [id*="page-break-before"]:not([id*="-0vh"]) {
  margin-top: 100vh;
  padding-top: 25vh;
}
[class*="-paginated"] [id*="-25vh"] {
  padding-top: 25vh;
}

