/* Styles ngoài cho Calibre Viewer */

@import url('https://fonts.googleapis.com/css2?family=Literata:ital@0;1&display=swap');

p { 
    font: normal 1rem/1.6  "Literata"; 
    text-align: justify; }

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;  }

aside p { 
    text-indent: 0; }

[class^="calibre-viewer"] aside, aside a { 
   display: none !important; }
